@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/grid.less';
@import '~akutil-shared-styles/src/z-indexes.less';

.root {
  display: flex;
  flex-direction: column;
  margin-left: -@ak-grid-size;
}

.read-view-wrapper {
  display: inline-flex;
  flex: 0 1 auto;
  max-width: 100%;
}

.content-wrapper {
  align-items: flex-end;
  display: inline-flex;
  flex-direction: column;
  max-width: 100%;
  position: relative;
}

.field-base-wrapper {
  flex: 1 1 auto;
  overflow: hidden;
  width: 100%;

  &:hover .edit-button {
    opacity: 1;
  }
}

.spinner-wrapper {
  align-items: flex-end;
  display: inline-flex;
  margin-left: unit(@ak-grid-size / 2, px);
  margin-top: unit(@ak-grid-size / 2, px);
}

.read-view-content-wrapper {
  display: inline-flex;
  max-width: 100%;
}

.buttons-wrapper {
  display: flex;
  flex-shrink: 0;
  margin-top: unit(@ak-grid-size / 2, px);
  position: absolute;
  right: 0;
  top: 100%;

  .button-wrapper {
    background-color: @ak-color-N0;
    border-radius: unit(@ak-grid-size / 2 - 1, px);
    box-shadow: 0 unit(@ak-grid-size / 2, px) @ak-grid-size unit(-(@ak-grid-size / 4), px) fade(@ak-color-N900, 28%),
                0 0 1px fade(@ak-color-N900, 30%);
    box-sizing: border-box;
    z-index: 200;
  }

  .button-wrapper:last-child {
    // provides the gap between the two action buttons
    margin-left: unit(@ak-grid-size / 2, px);
  }
}

.edit-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  display: inline-flex;
  line-height: 1;
  margin: 0;
  padding: 0;
  opacity: 0;
  outline: 0;
}
