@import '~@atlaskit/util-shared-styles/src/colors.less';
@import '~@atlaskit/util-shared-styles/src/borders.less';
@import '~@atlaskit/util-shared-styles/src/grid.less';
@import '~@atlaskit/util-shared-styles/src/fonts.less';
@import '~@atlaskit/util-shared-styles/src/mixins/focus-ring.less';

@grid: @ak-grid-size;
@halfGrid: @grid / 2;
@itemFocusWidth: 2px;

@ak-dropdown-border-color: @ak-color-N40A;
@ak-dropdown-border-radius: @ak-border-radius;
@ak-dropdown-background-main-color: @ak-color-N0;
@ak-dropdown-background-active-color: @ak-color-B75;
@ak-dropdown-background-selected-color: @ak-color-N200;
@ak-dropdown-background-hover-color: @ak-color-N20;

@ak-dropdown-focused-outline-color: @ak-color-B100;

@ak-dropdown-font-main-color: @ak-color-N800;
@ak-dropdown-font-disabled-color: @ak-color-N70;
@ak-dropdown-font-active-color: @ak-color-N800;

@ak-dropdown-icon-color: @ak-color-N400;
@ak-dropdown-icon-reverse-color: @ak-color-B50;

@ak-dropdown-font-family: @ak-font-family;

@ak-dropdown-shadow-color: @ak-color-N50A;
