<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <base href="<%= webpackConfig.output.publicPath %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AtlasKit - the official implementation for Atlassian Design Guidelines</title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
